# Configuração do Servidor
NODE_ENV=development
PORT=3000

# Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_NAME=nutriflow
DB_USER=postgres
DB_PASSWORD=

# JWT
JWT_SECRET=sua_chave_secreta_aqui
JWT_EXPIRE=7d

# Email
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=

# API
API_URL=http://localhost:3000
